html, body {
    height: 100%;
    margin: 0;
}

#gameContainer {
    display: table;
    width: 100%;
    height: 100%;
}

#centerContainer {
    display: table;
    width: 100%;
    height: 70%;
}

#containerJ3 {
    display: table-row;
    height: 10%;
    background: red;
}

#containerJ2 {
    display: table-cell;
    width: 9%;
    background: green;
}

#containerJ4 {
    display: table-cell;
    width: 9%;
    background: blue;
}

#containerJ1 {
    background: orange;
    height: 30%;
}

#currentBid {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 170px;
}

/*  New style  */
.game-container {
    background: url("/img/boardgame.png");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: block;
    margin: 0 auto;
}

#game-board {
    position: absolute;
    height: 60%;
    width: 50%;
    top: 20%;
    left: 25%;
    right: 25%;
}

#game-board #bid-container {
    width: 90%;
    height: 90%;
    margin: 3% 5%;
    background-color: darkslategrey;
    border-radius: 5%;
    border: 1px solid #0d3349;
}

#game-board #bid-container #suit-wanted {
    display: table;
    margin: 25px auto;
}

#game-board #bid-container #suit-wanted > div {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid gainsboro;
    padding: 5px;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
}

#game-board #bid-container #suit-wanted > div.selected {
    -moz-box-shadow: 0px 0px 15px 2px #036400;
    -webkit-box-shadow: 0px 0px 15px 2px #036400;
    -o-box-shadow: 0px 0px 15px 2px #036400;
    box-shadow: 0px 0px 15px 2px #036400;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#036400, Direction=NaN, Strength=15);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#game-board #bid-container #suit-wanted > div > img {
    width: 50px;
    height: 50px;
}

#game-board #bid-container #point-wanted {
    display: block;
    width: 175px;
    margin: 50px auto 25px;
}

#game-board #bid-container #point-wanted .spinner-value {
    background-color: white;
    height: 40px;
    width: 125px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 40px;
    display: inline-block;
}

#game-board #bid-container #point-wanted .left-spinner, #game-board #bid-container #point-wanted .right-spinner {
    height: 40px;
    width: 25px;
    background-color: #942a25;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
}

#game-board #bid-container #bid-btn {
    height: 40px;
    width: 125px;
    display: block;
    margin: 10px auto;
    color: white;
    background-color: #942a25;
    border-radius: 20px;
    border: 1px solid #c94a4a;
    cursor: pointer;
}

#current-player {
    position: absolute;
    height: 20%;
    width: 50%;
    left: 25%;
    right: 25%;
    bottom: 0;
}

#current-player .card {
    width: 75px;
    height: 100px;
    display: inline-block;
    margin: 0 2px;
    background-size: cover;
}

#current-player .card.selectable {
    cursor: pointer;
}

#current-player .card.selectable:hover {
    -moz-box-shadow: 0px 0px 15px 2px #036400;
    -webkit-box-shadow: 0px 0px 15px 2px #036400;
    -o-box-shadow: 0px 0px 15px 2px #036400;
    box-shadow: 0px 0px 15px 2px #036400;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#036400, Direction=NaN, Strength=15);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#current-player #current-player-cards {
    display: table;
    position: relative;
    margin: 0 auto;
}

#current-player .player-board {
    background: #710e03;
    width: 90%;
    height: 45px;
    left: 5%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    position: absolute;
    bottom: 0;
    border: 3px solid whitesmoke;
}

.avatar {
    width: 75px;
    height: 75px;
    margin: 5px auto -5px;
    border-radius: 50%;
    background-color: white;
}

.player-name {
    width: 100%;
    height: 35px;
    background-color: #710e03;
    text-align: center;
    color: white;
    border-radius: 25px;
    line-height: 35px;
    border: 3px solid whitesmoke;
}

.profil {
    position: absolute;
    width: 150px;
    height: 120px;
}


#player-left {
    position: absolute;
    height: 60%;
    width: 25%;
    left: 0%;
    top: 20%;
}

#player-left .profil {
    top: 50%;
    margin-top: -60px;
    left: 20px;
}

#player-right {
    position: absolute;
    height: 60%;
    width: 25%;
    right: 0%;
    top: 20%;
}

#player-right .profil {
    top: 50%;
    margin-top: -60px;
    right: 20px;
}

#player-top {
    position: absolute;
    height: 20%;
    width: 50%;
    right: 25%;
    top: 0%;
}

#player-top .profil {
    top: 20px;
    margin-left: -75px;
    left: 50%;
}

#card-player-right {
    position: absolute;
    right: 0;
    width: 100px;
    height: 140px;
    top: 50%;
    margin-top: -70px;
}

#card-player-left {
    position: absolute;
    left: 0;
    width: 100px;
    height: 140px;
    top: 50%;
    margin-top: -70px;
}

#card-player-top {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 140px;
}

#card-player-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 140px;
}

#score-board {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 175px;
    height: 125px;
    background-color: whitesmoke;
    border-radius: 5px;
}

#score-board .team-name {
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: white;
    background: #710e03;
}

#score-board .result {
    width: 100%;
    height: 25px;
    line-height: 25px;
}

#score-board span {
    width: 50%;
    text-align: center;
    display: inline-block;
}